# Qdrant
QDRANT_ENDPOINT=
QDRANT_COLLECTION=

# Redis
REDIS_HOST=
REDIS_PORT=

# Ollama
OLLAMA_LLM_MODEL=gemma3:1b
OLLAMA_EMBEDDING_MODEL=
OLLAMA_ENDPOINT=

# Auth
JWKS_URL=

# Audience
FRONTEND_URL=

# CORS
ALLOWED_ORIGINS=
