LOG_LEVEL=info

BETTER_AUTH_BASE_URL=
BETTER_AUTH_SECRET=

SMTP_USER=
SMTP_PASS=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

TRUSTED_ORIGIN=

DATABASE_PATH=
